<div class="container">
							<!--NEW POST BUTTON-->

	<div class='col-sm-12 col-sm-offset-10'>
			<a href='#/post' class='btn btn-info' id="newPostBtn" type='button'>New post</a>
	</div>





					<!--DESCRIPTION STARCOUNT AND USER INFO-->
	<div class="readFull" ng-show="fullPost">

		<div star-count class="readStarCount"></div>



								<!--POST DESCRIPTION-->

		<div class="postDescription">
			{{postTitle}}
		</div>

							<!--USER DESCRIPTION-->

		<div class="userInfo">{{postedBy}}
		</div>


						<!--POST-->


		<div class="postBody">
			{{postBody}}
		</div>
	</div>


							<!--FACEBOOK,TWITTER,IN,G+-->

	<div class="social">

		<a href=""><i id="facebook" class="fa fa-facebook fa-2x"></i></a>
		<a href=""><i id="twitter" class="fa fa-twitter fa-2x"></i></a>
		<a href=""><i id="linkedin" class="fa fa-linkedin fa-2x"></i></a>
		<a href=""><i id="gPlus" class="fa fa-google-plus fa-2x"></i></a>
		<a href=""><i id="commentBubble" class="fa fa-comment-o fa-2x"></i></a>

	</div>

						<!--COMMENT-->


	<div class="readFullComment">

		<div star-count class="commentStarCount"></div>

		<div class="userInfo">{{user.info}} Photo, Chris Toal
			<br>Novemeber 20, 2016 10.15
		</div>


		<div class="postBody">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>



	<div class="userPhoto">User.Photo

		<input class="submitComment"></input>

			

		
	</div>


</div>








