<div class="container">
	<div class='row'>
		<div class="col-lg-7 col-lg-offset-4">
			<h1>{{title}}</h1>

			 
		</div>

		 <button type='button' class='btn btn-info' ng-show="showBtn()" ng-click="goToPostList()"> Check out some cool posts!
                
         </button>


         <button type='button' class='btn btn-info' ng-hide="showBtn()" ng-click="goToLogIn()"> Log In!
                
         </button>

         <button type='button' class='btn btn-info' ng-hide="showBtn()" ng-click="goToSign()"> Sign Up!
                
         </button>
	</div>
	
	</div>

