<div class='container'>
	<div class="row">

								<!--NEW POST BUTTON-->



		<div class='col-sm-12 col-sm-offset-10'>
			<a href='#/post' class='btn btn-info' type='button'>New post</a>
		</div>
	</div>


								<!--DROPDOWN MENU-->



	<div class='row'>
		<div class='col-sm-12'>
	
			<div class='dropdown'>

				<button class="btn btn-default dropdown-toggle" type='button' id='sortBy' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>Sort By
				<span class='caret'></span>
				</button>

				<ul class="dropdown-menu" aria-labelledby='sortBy'>
					<li><a href="">Date></a></li>
					<li><a href="">Name</a></li>
					<li><a href="">Newest></a></li>
					<li><a href="">Oldest</a></li>
				</ul>
			</div>	
		</div>
	</div>

							<!--CONTAINER FOR COMMENTS-->



	<div class='row'>
		<div class="col-sm-12">
			<div id="read-post" class='container'>


			</div>
		</div>
	</div>



								<!--PAGE NAVIGATION-->


	<div class='row'>
		<div class="col-sm-offset-4">
			<nav aria-label="Page navigation">
  				<ul class="pagination">
			    	<li>
			      		<a href="#" aria-label="Previous">
			        	<span aria-hidden="true">&laquo;</span>
			      		</a>
			    	</li>
					<li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
			    	<li>
			      		<a href="#" aria-label="Next">
			        	<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
		</div>
	</div>
	
</div>
