<div class="container" ng-controller='NavCtrl'>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container nav">
	    	<div class="navbar-header">
	            <a class="navbar-brand" href="#/">Home</a>
	        </div>
	            <ul class="nav navbar-nav navbar-right" ng-cloak>

	           		<li><a href="#/login">{{Login}}</a></li>
	           		

	                <li><form class="formSearch">
	                		<input type="text" class="search" placeholder="Search" required>
	                </form></li>

	                
	            </ul>
		</div>
	</nav>
</div>