<div class='container'>
	<div class="row">

								<!--NEW POST BUTTON-->



		<div class='col-sm-12 col-sm-offset-10'>
			<a ui-sref='newPost' class='btn btn-info' id="newPostBtn" type='button'>New post</a>
		</div>
	</div>


								<!--DROPDOWN MENU-->



	<div ng-controller="DropDownCtrl" btn-drop-down></div>
		

							<!--CONTAINER FOR COMMENTS-->



	<div class='row'>
		<div class="col-sm-12">
			
			<ul style="list-style: none;">
			 
				<li class="post-view" ng-repeat="post in postList" ng-click='goToReadView(post.postId)'>

					<div star-count></div>


						<div class="post">{{post.postBody | limitTo:100}} {{post.postBody.length  > 100 ? '...' : ''}} </div>
						<br><br>
							 <div class='post'>Posted by: <div class='cap'>{{post.postByName}}</div>, On: {{post.postedOn | limitTo: 15}}
						</div>
					
							
						<div class="commentCount">{{post.commentCount}} Comment
						</div>
					</div>

				</li>
						
			</ul>
		</div>
	</div>
	
	

								<!--PAGE NAVIGATION-->


	<div class='row'>
		<div class="col-sm-12 col-lg-12">
			<nav aria-label="Page navigation">
  				<ul class="pagination">
			    	<li>
			      		<a href="#" aria-label="Previous">
			        	<span aria-hidden="true">&laquo;</span>
			      		</a>
			    	</li>
					<li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
			    	<li>
			      		<a href="#" aria-label="Next">
			        	<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
		<div class="newOldBtn">
		<button type="button" class="btn btn default center" id="newer">Newer</button>
		<button type="button" class="btn btn default center" id="older">Older</button>
		</div>
		


	</div>
	
</div>


