<div class='container'>
	<div class="row">

								<!--NEW POST BUTTON-->



		<div class='col-sm-12 col-sm-offset-10'>
			<a ui-sref='newPost' class='btn btn-info' id="newPostBtn" type='button'>New post</a>
		</div>
	</div>


								<!--DROPDOWN MENU-->



	<btn-drop-down on-sort-by="sortPostByValue(value)"></btn-drop-down>
		

							<!--CONTAINER FOR COMMENTS-->



	<div class='row'>
		<div class="col-sm-12 col-lg-12">
			
			<ul style="list-style: none;">
			 
				<li class="post-view" ng-repeat="post in postList" ng-click='goToReadView(post.postId)'>


						<div class="post">{{post.postBody | limitTo:100}} {{post.postBody.length  > 100 ? '...' : ''}} </div>
						<br><br>
							 <div class='post'>Posted by: <div class='cap'>{{post.postByName}}</div>, On: {{post.postedOn | limitTo: 15}}
						</div>
					</div>

				</li>
						
			</ul>
		</div>
	</div>
	

	</div>
	
</div>


