<div class='container'>

		<!--BACK BUTTON-->

	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-3">
			<a ui-sref='comment' type="button" class="btn btn-link" aria-label='Back'>
			<span class='glyphicon glyphicon-chevron-left'></span>Back</a>	
		</div>
	</div>
	
		<!--TITLE INPUT-->

<div class="formContainer">
	<form role="form" name="commentForm" ng-submit="submitForm()" novalidate>
		<legend>Create Post</legend>
		<div class="row">
			<div class='col-sm-8 col-lg-8'>
			
			<div class="form-group">
				<label for="title">Post Title</label>
					<input type="text" id="title" name="title" class="form-control" autofocus ng-model='post.title' placeholder="Title" ng-minlength = "1" required="">
						<p ng-show="commentForm.title.$pristine" class="help-block">A title must have at least 1 character</p>
				
			</div>

		<!--Glyphicons-->

	<div class='row'>
		<div class='col-sm-1 col-sm-offset-1 col-lg-1'>
			<button type="button" class="btn btn-default" aria-label='Bold'>
				<span class="glyphicon glyphicon-repeat"></span>
			</button>
		</div>
		<div class='col-sm-1 col-lg-1'>
			<button type="button" class="btn btn-default" aria-label='Bold'>
				<span class="glyphicon glyphicon-repeat"></span>
			</button>
		</div>
		<div class='col-sm-1 col-lg-1'>
			<button type="button" class="btn btn-default" aria-label='Bold'>
				<span class="glyphicon glyphicon-bold"></span>
			</button>
		</div>
		<div class='col-sm-1 col-lg-1'>
			<button type="button" class="btn btn-default" aria-label='Bold'>
				<span class="glyphicon glyphicon-italic"></span>
			</button>		
		</div>
		<div class='col-sm-1 col-lg-1'>
			<button type="button" class="btn btn-default" aria-label='Bold'>
				<span class="glyphicon glyphicon-link"></span>
			</button>
		</div>
	</div> 
	

		<!--POST INPUT-->


	<div class="form-group">
		<label for="body">Post</label>
			<textarea id="body" name="body" class="form-control" ng-model='post.body' placeholder="Post body" ng-minlength="10" required=""></textarea>
			<p ng-show="commentForm.body.$pristine" class="help-block">The body must have at least 10 characters</p>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-info" ng-disabled="commentForm.$invalid">Submit Post</button>
			</div>
		</div>
	</div>
</form>
</div>
	
</div>