<div class='row'>
		<div class='col-sm-12'>
	
			<div class='btn-group' uib-dropdown is-open='status.isopen'>

				<button id='single-button' type='button' class='btn btn-info' uib-dropdown-toggle ng-disabled='disabled'> Sort By
				<span class='caret'></span>
				</button>

				<ul class="dropdown-menu" uib-dropdown-menu role='menu' aria-labelledby='single-button'> 
					<li role="menuitem"><a sref="postList" ng-click=newestPost()>Newest</a></li>
			        <li role="menuitem"><a sref="postList" ng-click=oldestPost()>Oldest</a></li>
			        <li role="menuitem"><a sref="postList" ng-click=namePost()>Name</a></li>
					
				</ul>
			</div>
		</div>
	</div>



   